.container {
  max-width: 1200px;
  margin: auto;
  padding: 40px 20px;
}

.title{
  margin-bottom: 30px;
}

.dashboard-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.card{
  background: white;
  padding: 24px;
  border-radius: 14px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.06);
}

/* MOBILE */
@media (max-width:768px){
  .dashboard-grid{
    grid-template-columns:1fr;
  }
}
